bcrypt==5.0.0
blinker==1.9.0
click==8.3.0
Flask==3.1.2
greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysql-connector-python==9.1.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
uWSGI==2.0.28
Werkzeug==3.1.3
