argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
blinker==1.9.0
cffi==2.0.0
click==8.3.1
Flask==3.1.2
greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysql-connector-python==9.5.0
pycparser==2.23
SQLAlchemy==2.0.44
typing_extensions==4.15.0
uWSGI==2.0.31
Werkzeug==3.1.3
