<!DOCTYPE html>
<html data-bs-theme="auto">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for_with_mtime('assets/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for_with_mtime('assets/css/app.css') }}">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/icons/font/bootstrap-icons.min.css') }}">
  <script src="{{ url_for_with_mtime('assets/js/color-modes.js') }}"></script>
  <script defer src="{{ url_for_with_mtime('assets/vue.global.prod.js') }}"></script>
  <!-- Bootstrap JS (Popper.js も含まれると思う) -->
  <script defer src="{{ url_for_with_mtime('assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Axios -->
  <script defer src="{{ url_for_with_mtime('assets/axios.min.js') }}"></script>
  <title>{% block title %}{% endblock %}｜Flaskアプリのサンプル</title>
  {% block scripts %}{% endblock %}
</head>

<body>
  {% include 'layout/header.jinja' %}
  <div class="nav-space"></div>
  {% block content %}
  <h1>Hello, Flask!</h1>
  {% endblock %}
  {% include 'layout/footer.jinja' %}
</body>

</html>
