<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico', include_mtime=True) }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css', include_mtime=True) }}">
  <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js', include_mtime=True) }}"></script>
  <script src="{{ url_for('static', filename='assets/vue.global.prod.js', include_mtime=True) }}"></script>
  <script src="{{ url_for('static', filename='assets/axios.min.js', include_mtime=True) }}"></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block content %}
  <h1>Hello, Flask!</h1>
  {% endblock %}
</body>
</html>
