<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for_with_mtime('assets/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for_with_mtime('assets/css/app.css') }}">
  <script defer src="{{ url_for_with_mtime('assets/bootstrap/js/bootstrap.min.js') }}"></script>
  <script defer src="{{ url_for_with_mtime('assets/vue.global.prod.js') }}"></script>
  <script defer src="{{ url_for_with_mtime('assets/axios.min.js') }}"></script>
  <script defer src="{{ url_for_with_mtime('assets/js/app.js') }}"></script>
  <title>{% block title %}{% endblock %}</title>
  {% block scripts %}{% endblock %}
</head>

<body>
  {% include 'header.jinja' %}
  {% block content %}
  <h1>Hello, Flask!</h1>
  {% endblock %}
  {% include 'footer.jinja' %}
</body>

</html>
