<!DOCTYPE html>
<html data-bs-theme="auto">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for_with_mtime('assets/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for_with_mtime('assets/css/app.css') }}">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/icons/font/bootstrap-icons.min.css') }}">
  <script src="{{ url_for_with_mtime('assets/js/color-modes.js') }}"></script>
  <!-- Bootstrap JS (Popper.js も含まれると思う) -->
  <script defer src="{{ url_for_with_mtime('assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <title>ログイン｜Flaskアプリのサンプル</title>
  <script defer src="{{ url_for_with_mtime('assets/js/login.js') }}"></script>
</head>

<body>
  <div class="login-container">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-3">
              <img src="{{ url_for('static', filename='assets/yu_mark.svg') }}" alt="Logo" width="100%" id="logo_light" class="d-inline-block align-text-top">
              <img src="{{ url_for('static', filename='assets/yu_mark_hanten.svg') }}" alt="Logo" width="100%" id="logo_dark" class="d-none align-text-top">
            </div>
            <div class="col-9">
              <h1>Flaskアプリのサンプル</h1>
              <form action="{{ url_for('login.login') }}" method="post" id="login-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="text" name="login_id" class="form-control" placeholder="ログインID">
                <input type="password" name="ignition_key" class="form-control" placeholder="パスワード">
                <div class="pt-3 text-center">
                  <button type="submit" class="btn btn-primary"><i class="bi bi-door-open"></i> ログイン</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <p class="text-center">&copy; 2024 Flaskアプリのサンプル</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
