{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask サンプルサイト</h1>
    <p class="lead">おいでませ～</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Login</h2>
        <p>
            YouログインしちゃいなYO！
        </p>
        <form action="{{ url_for('login') }}" method="post">
            <p>
                <input type="text" id="userid" name="userid" value="" required />
            </p>
            <p>
                <input type="password" id="ignitionkey" name="ignitionkey" value="" required />
            </p>
            <p>
                <input type="submit" id="login" name="login" value="Login" />
            </p>
        </form>
        {% if ispost %}
        <p>
            ユーザーIDもしくはパスワードに誤りがあります。
        </p>
        {% endif %}
    </div>
</div>

{% endblock %}
