{% extends "layout/base.jinja" %}

{% block title %}社員情報一覧{% endblock %}

{% block content %}
<div class="container">
  <h1>社員情報一覧</h1>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="lead"><i class="bi bi-search"></i> 検索</div>
      <button class="btn btn-sm collapse-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#search_body" aria-expanded="false" aria-controls="search_body">
        <i class="bi bi-dash"></i>
      </button>
    </div>
    <form id="search_body" class="collapse show">
      <div class="card-body">
        <div class="row gy-3">
          <div class="col-lg-4 col-md-6">
            <label for="user_name" class="form-label d-none d-md-block">社員名</label>
            <input type="text" class="form-control" id="user_name" placeholder="社員名">
          </div>
          <div class="col-lg-4 col-md-6">
            <label for="user_name_kana" class="form-label d-none d-md-block">社員名カナ</label>
            <input type="text" class="form-control" id="user_name_kana" placeholder="社員名カナ">
          </div>
          <div class="col-lg-4 col-md-6">
            <label for="email" class="form-label d-none d-md-block">メールアドレス</label>
            <input type="text" class="form-control" id="email" placeholder="メールアドレス">
          </div>
          <div class="col-lg-4 col-md-6">
            <label for="birth_day_from" class="form-label d-none d-md-block">生年月日FROM</label>
            <input type="text" class="form-control" id="birth_day_from" placeholder="生年月日FROM">
          </div>
          <div class="col-lg-4 col-md-6">
            <label for="birth_day_to" class="form-label d-none d-md-block">生年月日TO</label>
            <input type="text" class="form-control" id="birth_day_to" placeholder="生年月日TO">
          </div>
          <div class="col-lg-4 col-md-6">
            <label for="prefecture" class="form-label d-none d-md-block">都道府県</label>
            <input type="text" class="form-control" id="prefecture" placeholder="都道府県">
          </div>
          <div class="col-lg-4 col-md-6">
            <label for="curry" class="form-label d-none d-md-block">カレーの食べ方</label>
            <input type="text" class="form-control" id="curry" placeholder="カレーの食べ方">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-search"><i class="bi bi-search"></i> 検索</button>
      </div>
    </form>
  </div>

  <div class="card">
    <div class="card-header">
      <div class="lead"><i class="bi bi-list"></i> 検索結果一覧</div>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>社員ID</th>
            <th>社員名</th>
            <th>社員名カナ</th>
            <th>メールアドレス</th>
            <th>生年月日</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock %}
